In [1]:
x = 2

In [3]:
x

2

In [5]:
import pandas as pd

In [7]:
aaa = pd.read_csv(r'C:\Users\jgian\Desktop\STUDIO_INDIVIDUALE\STUDIOO\02.DATAANALYSIS\PYTHON\01.Pandas\tatauranga-umanga-maori-statistics-on-maori-businesses-march-2024-quarter.csv')

In [9]:
aaa

,Table_Number,Table_Name,Table_Sub_Name,Table_Section,Breakdown,Quarter,Unit,Value
0,1,Sales and purchases by Maori authorities,Total sales,Maori authorities,Sales,201703.0,$ (millions),696.0
1,1,Sales and purchases by Maori authorities,Total sales,Maori authorities,Sales,201706.0,$ (millions),772.0
2,1,Sales and purchases by Maori authorities,Total sales,Maori authorities,Sales,201709.0,$ (millions),710.0
3,1,Sales and purchases by Maori authorities,Total sales,Maori authorities,Sales,201712.0,$ (millions),883.0
4,1,Sales and purchases by Maori authorities,Total sales,Maori authorities,Sales,201803.0,$ (millions),789.0
...,...,...,...,...,...,...,...,...
1387,"7,""Goods exports, by Maori authorities and all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1388,"7,""Goods exports, by Maori authorities and all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1389,"7,""Goods exports, by Maori authorities and all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,"7,""Goods exports, by Maori authorities and all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1391,"7,""Goods exports, by Maori authorities and all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN